<div class="container">
	<div class="panel panel-info">
	    <div class="panel-heading"><h1><center>Create a product5</center></h1></div>
	    <div class="panel-body"><%= render 'form', product5: @product5 %></div>
		<div class="panel-footer"><%= link_to 'Back', product5s_path, class: "btn btn-default"%></div>
	</div>
</div>