<div class="container">
	<div class="panel panel-default">
	    <div class="panel-heading">DEAL</div>
	    <div class="panel-body"><%= render 'form', deal: @deal %></div>
	</div>
	<%= link_to 'Back', deals_path %>
</div>