/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.boton{
  background-color: #fff !important;
  border: none;
  color: #2b87db !important;
  padding: 4px 23px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 24px;
  margin: 10px 27px;
  cursor: pointer;
  border-radius: 29px;
  border: dotted;
}
.boton:hover {background-color: #3e8e41}

.boton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.boton2{
  background-color: #2196f3 !important;
  border: none;
  color: #fff !important;
  padding: 2px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 24px;
  margin: 96px 0px;
  cursor: pointer;
}
.boton3{
  background-color:none;
  border: none;
  color: #2b87db !important;
  padding: 4px 23px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 24px;
  margin: 138px 15px;
  cursor: pointer;
  border-radius: 29px;
  border: dotted;
  position: absolute;
}
.boton4{
 background-color: none;
  border: none;
  color: #fff !important;
  padding: 4px 23px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 24px;
  margin: 125px -50px;
  cursor: pointer;
  border-radius: 29px;
  border: dotted;
  position: absolute;
}
.div1 {
  width: 360px;
  height: 130px;
  position: absolute;
  margin: -96px 0px;
  padding: 0px 44px;
  background-color: #2196f3;
  font-size: 50px;
  color: white;
}
.article-date {
  width: 59px;
  height: 56px;
  color: #fff;
  text-align: center;
  float: left;
  background-color: #1b325e;
}

.transbox h{
  color: #fff;
  width: 361px;
  height: 72px;
  background-color: #3096f3;
  opacity: 0.9;
  padding: 40px 40px 110px;;
  font-size: 25px;
  margin: 51px -1004px;
  position: absolute;
}
.search-container button {
  float: right;
  padding: 0px 10px;
  margin-top: 18px;
  margin-right: 414px;
  background: #2784c4;
  color: white;
  font-size: 31px;
  border: none;
  cursor: pointer;
}
.search-container input {
  padding: 0px 22px;
  margin-top: 11px;
  margin-right: 0px;
  font-size: 30px;
  border: 1px solid grey;
  cursor: pointer;
  position: absolute;
  top:21px;
  left:80px;
  opacity: .5;
  z-index: 1000;
}
.circle {
  position: absolute;
  width: 74px;
  height: 74px;
  background: #2196f3;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: -22px 1066px;
}
.circle p{
  margin: 6px 20px;
  color: white;
}
.brand{
  padding-top: 35px;
  margin: 0px;
}
.img{
  height: 390px;
  width: 770px;
}
.head1 h{
  color: #000;
  width: 360px;
  height: 72px;
  opacity: 0.9;
  padding: 0px 47px ;
  font-size: 25px;
  margin: -179px -305px;
  position: absolute;
}
.head2 h{
  color: #000;
  width: 360px;
  height: 72px;
  opacity: 0.9;
  padding: 20px 60px;
  font-size: 25px;
  margin: 11px -95px;
  position: absolute;
}
.card {
  background: #fffcfc;
  border-radius: 2px;
  display: inline-block;
  height: 480px;
  margin: 0px 0px;
  position: relative;
  width: 500px;
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.example button:hover {
  background: #0b7dda;
}

.example::after {
  content: "";
  clear: both;
  display: table;
}

.glyphicon-search{
  margin: -41px 750px ;
  width: 4%;
  height: 39px;
}

.search{
  width: 50%;
  height: 40px;
  margin: 0px 35px;
}
#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
/*side bar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}