/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.boton{
  background-color: #fff !important;
  border: none;
  color: #2b87db !important;
  padding: 4px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 10px 27px;
  cursor: pointer;
  border-radius: 29px;
  border: dotted;
}
.boton:hover {background-color: #3e8e41}

.boton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.boton2{
  background-color: #2196f3 !important;
  border: none;
  color: #fff !important;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 96px 0px;
  cursor: pointer;
}
.div1 {
  width: 360px;
  height: 130px;
  position: absolute;
  margin: -96px 0px;
  padding: 0px 44px;
  background-color: #2196f3;
  font-size: 50px;
  color: white;
}
.article-date {
  width: 59px;
  height: 56px;
  color: #fff;
  text-align: center;
  float: left;
  background-color: #1b325e;
}

.transbox h{
  color: #fff;
  width: 361px;
  height: 72px;
  background-color: #3096f3;
  opacity: 0.9;
  padding: 40px 40px 110px;;
  font-size: 25px;
  margin: 51px -1004px;
  position: absolute;
}
.search-container button {
  float: right;
  padding: 0px 10px;
  margin-top: 18px;
  margin-right: 414px;
  background: #2784c4;
  color: white;
  font-size: 31px;
  border: none;
  cursor: pointer;
}
.search-container input {
  padding: 0px 22px;
  margin-top: 11px;
  margin-right: 0px;
  font-size: 30px;
  border: 1px solid grey;
  cursor: pointer;
  position: absolute;
  top:21px;
  left:80px;
  opacity: .5;
  z-index: 1000;
}
.circle {
  position: absolute;
  width: 74px;
  height: 74px;
  background: #2196f3;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: -22px 1066px;
}
.circle p{
  margin: 6px 20px;
  color: white;
}
.brand{
  padding-top: 35px;
  margin: 0px;
}
.img{
  height: 390px;
  width: 750px;
}