<section class="category-grid whole_bg" id="sidebar-page-remove" >
  <div class="container" id="container-remove">
    <div class="row" id="row-remove p-t-20">
      <div class="tab-content">
        <div id="coupon_grid_view_1" class="products-grid fade tab-pane in active">
          <div class="product-grid-holder">
            <div class="row no-margin app_here_1 ">
              <% @coupens.each do |coupen| %>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 product-item-holder-parent">
                  <div class="product-item new_add product-item-holder"> 
                    <div class="ribbon red"><span>Coupon</span></div>
                      <a href="http://www.couponndeal.com/store/ealpha-coupons"><img alt="online coupons" src="http://cdn1.couponndeal.org/uploads/images/stores/resize_images/verytinystore-ealphalogo1500973283.png" width="74" height="30" style="float:right" /></a>
                    <div class="image">
                      <a href="http://www.couponndeal.com/coupon/flat-hair-curler-and-straightener-iron" target="_blank"><%= image_tag coupen.image.url, height:"180" %><!--<img alt=" online coupons" src="http://cdn1.couponndeal.org/uploads/images/coupons/resize_images/smallgrid-eAlpha Hair Straightener-1508992692.jpg" height="180 "/>--></a> 
                    </div>
                    <div class="body">
                      <div class="title">
                        <a href="http://www.couponndeal.com/coupon/flat-hair-curler-and-straightener-iron"   target="_blank" ><%= coupen.title %></a>
                      </div>
                      <div class="Categories"><p></p></div>
                    </div>
                    <div class="prices"></div>
                    <div class="in-center">
                      <a href="http://www.couponndeal.com/?coupon_id=1486" data-href="http://www.couponndeal.com/track.php?c_id=1486" class="le-button click2c coupon_code" name="Ealpha100" disabled='disabled'><%= coupen.coupen %></a>
                      <div class="Categories">
                        <div class="row m-b-10 m-t-10">
                          <div class="col-md-12 show_more"><a href="http://www.couponndeal.com/store/ealpha-coupons" class="pop" data-original-title="Ealpha">Show More <b>Ealpha</b> Coupons</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>       
              <% end %>           
            </div><!-- /.row -->
          </div>     
        </div><!-- /.products-grid #grid-view -->
        <div id="coupon_list_view_1" class="products-grid fade tab-pane">
          <div class="grid-list-products fadeInUp wow">
            <div class="products-list append_here_1">
            </div>
          </div>
        </div><!-- /.products-grid #list-view -->
        <div class="row m-t-20">
          <div class="col-md-6 col-md-offset-3">
            <a href="http://www.couponndeal.com/category/coupons&page=2" class=" le-button btn-block see_mor_new" style="font-size:18px;">Show More</a>
          </div><br>
        </div>      <br>              
      </div><!-- /.tab-content -->
    </div>
  </div>
</section>


