<div class="container">
	<div class="panel panel-info">
	    <div class="panel-heading"><h1><center>Create a product</center></h1></div>
	    <div class="panel-body"><%= render 'form', product: @product %></div>
		<div class="panel-footer"><%= link_to 'Back', products_path, class: "btn btn-default"%></div>
	</div>
</div>