<footer class="footer">
  <section>
    <div class="container">
      <h3><span>About freedeals.com</span></h3>
        <p><%= image_tag "freelogo.png", style: "border: 0; float: left; margin: 4px;" %>Freedealz.com is a brand new website devoted to finding you free deals, free samples in india, bringing you competitions with fantastic prizes and money-saving information.</p>
        <p>Packed with full of links galore, Getfreedealz.com will help you to find all the latest in prizes, free stuff, offers and voucher codes on the internet – without you having to search for them all yourselves!</p>
        <p>So, if you love free samples, free stuff and learning all about how to save money – this is the place for you! You could find yourself with a whole heap of prizes, freebies, free samples and huge disount on various websites. Look forward to daily updates with our newsletter listing all the free stuff we have for that day, as well as exciting competitions you can enter.</p>
    </div>
        <hr style="border-top: 1px  #989393; border-style: dotted;">
        <center><h4><%= link_to "Freedeals.com", root_path %></a> Copyright © 2018.</h4></center>
  </section>
</footer>