<!-- Navbar (sit on top) -->
<!-- <div class="w3-bar w3-white w3-card" id="myNavbar" >
  <%#= link_to "FREEDEALS", root_path, class: "w3-bar-item w3-button w3-wide" %> -->
  <!-- Right-sided navbar links -->
  <!-- <div class="w3-right w3-hide-small">
    <%#= link_to "Home", root_path, class: "w3-bar-item w3-button w3-blue" %>
    <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
    <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
    <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a> 
    <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    <%# if current_user.nil? %>
      <%#= link_to new_user_session_path, class: 'w3-bar-item w3-button' do %>SING IN<%# end %>
    <%# else %>
      <%#= link_to destroy_user_session_path,class: 'w3-bar-item w3-button', method: :delete do %>LOG OUT<i class="fa fa-power-off"></i><%# end %>
    <%# end %>
  </div>
</div> -->
<nav class="navbar">
  <div class="container">
    <div class= "row">
      <div class="navbar-header">
        <div class="navbar-brand" style="padding: 10px 60px;">
          <%= image_tag "logo.png", width: "204px", height: "80px" %>
        </div>
      </div>
      <ul class="nav navbar-nav pull-right" style="font-size: 19px; margin: 22px;">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li style="background-color: #3096f3;"><%= link_to "Home", root_path, class: "w3-bar-item w3-blue" %></li>
        <li><a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a></li>
        <li><a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a></li>
        <li><a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a></li> 
        <li><a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a></li>
        <li><% if current_user.nil? %>
              <%= link_to new_user_session_path, class: 'w3-bar-item w3-button' do %>SING IN<% end %>
            <% else %>
              <%= link_to destroy_user_session_path,class: 'w3-bar-item w3-button', method: :delete do %>LOG OUT<i class="fa fa-power-off"></i><% end %>
            <% end %></li>
      </ul>
    </div>
  </div>
</nav><br>

<!-- Header with full-height image -->
<!-- <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Get Free Deals</span><br> -->
    <!-- <span class="w3-xxlarge w3-hide-large w3-hide-medium">BEST ONLINE DEALS & FREE SAMPLES</span><br>  -->
   <!--  <span class="w3-medium">BEST ONLINE DEALS & FREE SAMPLES</span> --> 
    <!-- <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p> -->
 <!--  </div> -->
  <!-- <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div> -->
<!-- </header> -->








<!-- Contact Section -->
<!-- <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">CONTACT</h3>
  <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-half">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Chicago, US</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
      <br>
      <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
        <p>
          <button class="w3-button w3-black" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button>
        </p>
      </form>
    </div>
    <div class="w3-half">
      <! Add Google Maps -->
<!--       <div id="googleMap" class="w3-greyscale-max" style="width:100%;height:510px;"></div>
    </div>
  </div>
</div>  -->


 


