<nav class="navbar" style="background-color: #1b325e; margin: 0 -1px;">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="column">
      <div class="col-md-6">
        <ul class="nav navbar-nav" style="float: right; padding-right: 225px; font-size: 20px; color:#fff;">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr style="border-top: 2px solid #fff; border-style: dotted;">
</nav>
 <!--header-img start ============================== -->
<div class="container-fuild">
  <section id="hero-area" style="position: absolute; 
      background-color: #1b325e;
      height: 340px;
      width: 1258px;">
      <a class="brand" href="#">FreeDeals.com</a>
    <div style="margin: 85px 0px 87px 760px;">
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </section>
</div>