<nav class="navbar">
  <div class="container">
    <div class= "row">
      <div class="navbar-header">
        <div class="navbar-brand" style="padding: 0px 60px;">
          <%= image_tag "logo.png", width: "204px", height: "80px" %>
        </div>
      </div>
      <ul class="nav navbar-nav pull-right" style="font-size: 19px; margin: 22px;">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li style="background-color: #3096f3;"><%= link_to "Home", root_path, class: "w3-bar-item w3-blue" %></li>
        <li><a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a></li>
        <li><a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a></li>
        <li><a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a></li> 
        <li><a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a></li>
        <li><% if current_user.nil? %>
              <%= link_to new_user_session_path, class: 'w3-bar-item w3-button' do %>SING IN<% end %>
            <% else %>
              <%= link_to destroy_user_session_path,class: 'w3-bar-item w3-button', method: :delete do %>LOG OUT<i class="fa fa-power-off"></i><% end %>
            <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav><br>






 


